.card_wrapper {
  width: 100%;
  height: 100vh;
  //background: #f5f5f5;
  padding-top: 104px;
  position: relative;

  // 搜索logo
  .search_logo_container {
    text-align: center;
    margin: 0px 0 34px;
    .search_logo {
      width: 180px;
      cursor: pointer;
      border-radius: 5px;
      background: rgba(0, 0, 0, 0.05);
      padding: 16px;
      box-sizing: content-box !important;
    }
    .search_logo:hover {
      opacity: .7;
    }
  }

  // 搜索框
  .search_wrapper {
    width: 720px;
    max-width: 90%;
    margin: 0 auto 70px;
    .search_tips {
      text-align: left;
      margin-top: 15px;
      color: #000000;
    }
  }

  // 快捷卡
  .card_fast_wrapper {
    transition: all;
    transition-duration: 300ms;
    width: 720px;
    max-width: 90%;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    .cart_fast {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      color: rgba(0,0,0,.85);
      font-size: 14px;
      font-variant: tabular-nums;
      line-height: 1.5715;
      list-style: none;
      font-feature-settings: "tnum";
      position: relative;
      background: #fff;
      border-radius: 2px;
      display: flex;

    }
  }



  /deep/ .ant-card-body {
    padding: 0 !important;
  }

  /deep/ .ant-tabs-tab {
    margin: 0 16px;
  }

  /deep/ .site-title {
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    letter-spacing: 1px;
  }

  /deep/ .search-all-switch {
    cursor: pointer;
    border-radius: 5px;
  }

  /deep/ .search-all-switch.close, .search-all-switch:hover {
    filter: grayscale(1);
  }

  /deep/ .search-all-switch, .search-all-switch.close:hover {
    filter: none;
  }

  /deep/ .ant-card-grid:hover .resource_name {
    color: #1890ff;
  }

  .resource_name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 8px;
  }

  // 背景图片
  .bg_img {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border: 0;
    overflow: hidden;
    z-index: -100;
  }


  // 按钮组
  .fix_group {
    position: fixed !important;
    bottom:35px;
    left: 35px;

  }


  // 蒙层
  .mask {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -50;
    transition: all;
    transition-duration: 600ms;
  }

  .mask_tips {
    color: #fff !important;
  }
  .hidden {
    transition: all;
    transition-duration: 600ms;
    visibility: hidden;
    opacity: 0;
  }

  /deep/ .search .ant-input {
    font-size: 16px;
    line-height: 2 !important;
  }

  /deep/ .search .anticon-search {
    font-size: 21px;
  }

  /deep/.search .ant-input-affix-wrapper {
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
  }

  /deep/ .search .ant-input-group-addon, .search .ant-input-search-button {
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
  }

  /deep/ .search .ant-input {
    color: #333;
    letter-spacing: 1px;
  }
  /deep/ .ant-input-wrapper .ant-input-lg{
    height: 50px !important;
  }
  /deep/ .ant-btn-lg {
    width: 84px;
    height: 50px !important;
  }

  a {
    font-size: 13px;
    text-align: center;
    color: rgb(85, 85, 85) !important;
  }
  /deep/ .ant-card-bordered {
    border: none;
  }


  @media screen and (max-width: 480px) {
    .resource_name {
      display: none;
    }
  }

  // 抽屉
  /deep/ .ant-drawer-content .drawer_wrap {
    .drawer_text {
      color: red !important;
    }
    .draw_img_box {
      display: flex;
      height: 300px;
      flex-wrap: wrap;

      .ant-card-grid .draw_bg_img {
        background: #2aabd2;
        width: 100%;
        height: 200px;
      }
    }
  }


}
